aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiokafka
aiosignal
aiosqlite
annotated-doc
annotated-types
anyio
APScheduler
asgiref
async-timeout
attrs
cachetools
certifi
charset-normalizer
click
colorama
coverage
credentials
cssselect
cssutils
dj-database-url
Django
django-debug-toolbar
djangorestframework
fastapi
frozenlist
git-filter-repo
google-auth
google-auth-oauthlib
googleapis-common-protos
greenlet
grpcio
gspread
gunicorn
h11
httpcore
httptools
httpx
idna
importlib_metadata
-e git+ssh://git@github.com/Artemis1992/fastapi-project.git@d1310562ce4ccbe1a1cfc8698dc20120fbed02a9#egg=ingest_worker&subdirectory=orchestration-platform\apps\temporal-workers\ingest_worker
iniconfig
jaraco.classes
jaraco.context
jaraco.functools
kafka-python
keyring
-e git+ssh://git@github.com/Artemis1992/fastapi-project.git@d1310562ce4ccbe1a1cfc8698dc20120fbed02a9#egg=l0_orchestrator&subdirectory=orchestration-platform\apps\l0-orchestrator
# Editable install with no version control (logging-service==0.1.0)
-e d:\mywork\fastapi-project-submain\logging-service
lxml
magic-filter
more-itertools
multidict
nexus-rpc
numpy
oauthlib
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
-e git+ssh://git@github.com/Artemis1992/fastapi-project.git@d1310562ce4ccbe1a1cfc8698dc20120fbed02a9#egg=orchestration_l_enter&subdirectory=orchestration-platform\apps\l-enter
packaging
pgvector
pillow
pluggy
premailer
prometheus-fastapi-instrumentator
prometheus_client
propcache
protobuf
psycopg
psycopg-binary
psycopg2-binary
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
Pygments
pytest
pytest-asyncio
pytest-cov
pytest-django
pytest-html-plus
python-dotenv
python-json-logger
python-multipart
pytz
pywin32-ctypes
PyYAML
redis
requests
requests-oauthlib
rsa
six
sniffio
SQLAlchemy
sqlparse
starlette
temporalio
tenacity
types-protobuf
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
watchfiles
websockets
wrapt
yagmail
yarl
zipp
